@model ClientSystemWebApp.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Подробно</h1>

<div>
    <h4>Клиент</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Код: 
            @*@Html.DisplayNameFor(model => model.Code)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            Имя: 
            @*@Html.DisplayNameFor(model => model.FirstName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Фамилия: 
            @*@Html.DisplayNameFor(model => model.LastName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Место работы: 
            @*@Html.DisplayNameFor(model => model.PlaceOfWork)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfWork)
        </dd>
        <dt class = "col-sm-2">
            Адрес: 
            @*@Html.DisplayNameFor(model => model.Adress)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            Телефон: 
            @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            E-mail: 
            @*@Html.DisplayNameFor(model => model.Email)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Редактировать</a>  
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>
